body {
    background-color: rgb(250, 231, 205);
}

.jani {
    display: grid;
    margin: auto;
    width: 350px;
    border: 5px solid black;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(13,97,5,1);
    -moz-box-shadow: 0px 0px 28px 0px rgba(13,97,5,1);
    box-shadow: 0px 0px 28px 0px rgba(13,97,5,1);
    font-size: 14px;
    
    
} 
#anyatarolo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    gap: 150px;
}


a { 
    text-decoration: none;
    border: 3px solid black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;

}

nav {
    padding: 30px;
}

a:hover {
    background-color: rgb(0, 255, 149);
}

nav h1 {
    text-align: center;
    color: white;
    font-size: 30px;
}


article img {
    width: 350px;
}

#harmadik {
    padding: 20px;
}

